$body-font: open-sans, sans-serif;
$title-font: futura-pt-bold, $body-font;
$background-color: rgba(220, 5, 5, 0.5);
$border-radius: 4px;
$button-color: #000;
$facebook-blue: #3C5A96;
$twitter-blue: #2ecbf8;
$light-red: #ff0101;
$dark-red: #bc0000;

@mixin mobile {
  @media only screen and (max-device-width: 480px) {
    @content;
  }
}

@mixin data-filter($filter, $options...) {
  @each $opt in $options {
    [data-#{$filter}="#{$opt}"] [data-#{$filter}]:not([data-#{$filter}="#{$opt}"]) {
      display: none;
    }
  }
}

@mixin background-gradient($from-color, $to-color) {
  background-image: repeating-radial-gradient(ellipse farthest-corner at right bottom, $from-color 0%, $to-color 70%, rgba($to-color, .95) 90%, rgba(0, 0, 0, 0) 200%);
  background-attachment: fixed;
}

@mixin minimized-background-gradient($form-color, $to-color, $position) {
  background-image: repeating-radial-gradient(ellipse farthest-corner at $position bottom,$form-color 0%,$to-color 45%,rgba($to-color, 0.5) 60%,rgba(0, 0, 0, 0) 70%,rgba(0, 0, 0, 0) 100%);
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1 }
  to { opacity: 0 }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

html {
  font-size: 62.5%;

  @include mobile {
    font-size: 52.5%;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.fade-out {
  animation: fade-out .4s ease-out;
  animation-fill-mode: forwards;
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  // justify-content: center;
  height: 100%;
}

h1, h2, h3, h4, h5, .btn {
  font-family: $title-font;
  font-weight: 700;
}

body {
  font-family: $body-font;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
  @include background-gradient($dark-red, $light-red);
}

.container {
  width: 600px;
  margin: auto;

  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 3.8rem;
  line-height: 1;
  margin: 0;
}

h2 {
  font-size: 4rem;
  line-height: 1;
  margin: 0;
}

h3 {
  font-size: 2.8rem;
  line-height: 1;
  margin: 1rem 0;
}

p {
  margin: 1.5rem 0;
}

a {
  color: inherit;
  text-decoration: underline;
  font-weight: bolder;
}

input, textarea {
  font-family: $title-font;
  border: none;
  font-size: 1.7rem;
  padding: 2rem 1.5rem;
  border-radius: $border-radius;
  width: 100%;
  color: #0f0728;

  @include mobile {
    padding: 2rem 0.5rem;
    font-size: 1.5rem;
  }
}

.btn {
  text-align: center;
  padding: 2rem;
  display: block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $button-color;
  color: #fff;
  border: none;
  border-radius: $border-radius;
  font-size: 2.2rem;
  line-height: 1.33;
  letter-spacing: 0.2rem;
  transition: transform .2s ease-in;

  &:hover {
    color: #fff;
    cursor: pointer;
    transform: scale(1.02);
  }
}

hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 3.5rem 0;

  @include mobile {
    margin: 2.5rem 0;
  }
}

form {
  margin: 3rem 0;

  .row {
    @extend .clearfix;
    margin-bottom: 0.75rem;

    input, .btn {
      float: left;
      width: 49.25%;
    }

    input {
      margin-right: 1.5%;

      &:last-child {
        margin-right: 0;
      }

      &.address {
        width: 38%;
      }

      &.zip {
        width: 19%;
      }

      &.phone {
        width: 40%;
      }
    }
  }
}

.disclaimer p {
  text-align: center;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

footer {
  margin-top: 5rem;
  text-align: center;
  font-family: $title-font;
  text-transform: uppercase;

  @include mobile {
    margin-top: 2rem;
  }
}

body:not([data-step="1"]) {
  color: #111;
  @include background-gradient(#fff, #fff);

  h2 {
    p {
      font-size: inherit;
      margin: 0;
    }

    strong {
      color: #1abe50;
    }
  }

  .body p {
    font-size: 2rem;
  }

  .disclaimer {
    font-weight: bolder;
  }
}

.step {
  animation: fade-in .4s ease-out;
  padding: 2rem 0;
}

#step1 {
  .body p {
    margin: 0;
  }

  .call-form {
    .btn {
      padding: 1.7rem 0;
      width: 38%;
    }

    @include mobile {
      input.phone {
        width: 30%;
      }

      .btn {
        width: 48%;
        font-size: 1.7rem;
        padding: 2rem 0;
        white-space: nowrap;
      }
    }
  }
}

#step2 {
  input {
    border: .2rem solid #111;
    padding: 2rem;
    width: 58%;
    height: 6.9rem;
  }

  .btn {
    width: 39%;
  }
}

#step3 {
  h2 {
    svg {
      margin: 0 0 -0.25rem 0;
    }
  }

  .warning {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;

    svg {
      margin: 0 .25rem -.35rem 0;
    }
  }

  .btn {
    transition: background-color .2s;

    &:hover {
      transform: none;
    }
  }

  .btn-events {
    color: #111;
    background-color: #fff;
    border: .2rem solid #9a9a9a;
    font-size: 1.7rem;
    display: block;
    margin-bottom: 1rem;
    padding: 1.7rem 0;

    &:hover {
      background-color: darken(#fff, 10%);
    }

    svg {
      margin: 0 1rem -0.45rem 0;
    }
  }

  .btn-row {
    display: flex;

    .btn {
      margin-left: 1.25%;

      &:first-child {
        margin-left: 0;
      }
    }

    .btn {
      font-size: 1.2rem;
      padding: 1.5rem 0;
    }
  }

  .btn-facebook {
    background-color: $facebook-blue;

    &:hover {
      background-color: darken($facebook-blue, 10%);
    }
  }

  .btn-twitter {
    background-color: $twitter-blue;

    &:hover {
      background-color: darken($twitter-blue, 10%);
    }
  }

  .btn-donate {
    background-color: #ffeb65;
    color: #000;

    &:hover {
      background-color: darken(#ffeb65, 10%);
    }
  }
}

body[data-minimized="true"] {
  animation: fade-in .5s ease-in;
  background-image: none;
}

.minimized-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include minimized-background-gradient($dark-red, $light-red, right);
}

.minimized {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: absolute;
  bottom: 2rem;
  right: 2.5rem;
  text-align: right;
  width: 25rem;

  h1 {
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }

  a.btn {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem;
    width: auto;
  }

  a.close {
    display: inline-block;
    margin-top: 1.3rem;
    font-family: $title-font;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: lighten($button-color, 10%);
  }
}

.international-cta {
  text-transform: uppercase;
  color: #000;
  font-weight: 700;

  a {
    text-decoration: none;

    strong {
      text-decoration: underline;
    }
  }
}

body[data-position="left"] {
  .minimized-bg {
    @include minimized-background-gradient($dark-red, $light-red, left);
  }

  .minimized {
    right: auto;
    left: 2.5rem;
    text-align: left;
  }
}

body[data-variant="full-form"][data-phone-test="without-phone"] {
  input.address {
    width: 70%;
  }

  input.zip {
    width: 28.5%;
    margin-right: 0;
  }
}

body[data-language="es"] {
  form .row {
    input.address,
    input.zip {
      width: 32%;
    }

    input.phone {
      width: 33%;
    }
  }
}

@include data-filter(org, fftf, fp, dp);
@include data-filter(variant, full-form, phone-only);
@include data-filter(step, 1, 2, 3);
@include data-filter(loading, true, false);
@include data-filter(minimized, true, false);
@include data-filter(donations, true, false);
@include data-filter(country, us, non-us);
